# Expo
.expo/
__generated__/
web-build/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Env (keep .env.example)
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Generated
expo-env.d.ts

# IDE
.vscode/launch.json
.idea/
*.iml
.gradle/
.history/

# Android build
*.apk
*.aab
android/app/build/
android/build/
android/.gradle/

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
